@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-bg: white;
  --header-text: black;
  --primary-color: #6495ED;
}

body {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}
