@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-bg: white;
  --header-text: black;
}

body {
  margin: 0;
}

html {
  scroll-behavior: smooth;
  /* Hide scrollbar */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar */
html::-webkit-scrollbar {
  display: none;
}

@layer base {
  .heading-base {
    @apply font-display font-bold mb-4 text-left md:text-center uppercase;
  }
  .h0 {
    @apply heading-base tracking-tight text-[2.5rem] leading-[2.5rem] md:text-8xl;
  }
  .h1 {
    @apply heading-base tracking-normal text-3xl md:text-6xl;
  }
  .h2 {
    @apply heading-base tracking-tighter text-3xl md:text-5xl;
  }
  .h3 {
    @apply heading-base tracking-tight text-xl md:text-4xl;
  }
  h1 {
    @apply h1;
  }
  h2 {
    @apply h2;
  }
  h3 {
    @apply h3;
  }
  p {
    @apply tracking-[-0.01225em] text-xs md:text-base leading-relaxed font-light;
  }
}

@layer components {
  .button {
    @apply button-bg tracking-[-0.01225em] font-semibold text-xs md:text-base leading-relaxed text-black box-border cursor-pointer uppercase px-12 md:px-24 py-2 w-fit rounded-2xl border border-transparent animate-border hover:brightness-125 transition-all duration-500 ease-in-out;
  }
  .button-bg {
    @apply [background:linear-gradient(45deg,#f7f7f7,theme(colors.neutral.200)_50%,#f7f7f7)_padding-box,conic-gradient(from_var(--border-angle),theme(colors.neutral.100/.48)_80%,_theme(colors.neutral.100)_86%,_theme(colors.neutral.200)_90%,_theme(colors.neutral.300)_94%,_theme(colors.neutral.100/.48))_border-box];
  }

  .about-value-text {
    @apply font-display uppercase font-medium text-left text-xs md:text-sm whitespace-nowrap;
  }
}

.drag-none {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.h0 {
  font-size: clamp(2.5rem, 6.5vw, 6rem);
}

@property --border-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: "<angle>";
}
