.frame {
  --frame-width: 252px;
  --frame-width-to-height: 1.428;

  display: block;
  width: var(--frame-width);
  height: calc(var(--frame-width) * var(--frame-width-to-height));
  background-color: transparent;
  border-radius: 50% 50% 50% 50% / 60% 60% 0% 0%;
  translate: 0 0;
}

.img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50% 50% 50% 50% / 60% 60% 0% 0%;
}
